<footer> 
            <div class="row">
                <div class="small-12 large-12 column ">
                    <section class="getintouch">
                        <h3 class="text-center">Get in Touch</h3>
                        <ul>
                            <li>
                                <span>&#59172;</span>
                                26 Vantage Park High View Close Leicester, LE4 9LJ  
                            </li>
                            <li>
                                <span>&#9993;</span>
                                <%= mail_to 'screenlantern@gmail.com', "screenlantern@gmail.com" %>
                            </li>
                            <li>
                                <span>&#128222;</span>
                                +447964561660
                            </li>
                        </ul>
                        <ul id="social-icons">
                            <li>
                                <a href="https://twitter.com/screenlantern">
                                    <img src="images/twitter.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/linkedin.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/screenlantern">
                                    <img src="images/github.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/skype.png">
                                </a>
                            </li>
                        </ul>
                    </section>
                    <div id="subFooter">
                        <p>Copyright &copy; &nbsp; Designed by Screen Lantern <span>This site is powered by <%= link_to 'Middleman', 'http://middlemanapp.com/' %> and hosted by <%= link_to 'GitHub Pages', 'http://pages.github.com/' %></span></p>
                    </div>
                </div>
                </div>    
        </footer>