---
title: Welcome to Screenlantern
---

    <header class="main">
            <div class="row">

            <div class="mastHead">
                    <div id="logo">
                        <a href="#">Screen Lantern</a>
                    </div>
                    <nav id="mastNav">
                        <ul>
                            <li>
                                <a href="index.html" class="active">home</a>
                            </li>
                            <li>
                                <a href="index.html#about">about us</a>
                            </li>
                            <li>
                                <a href="#" data-reveal-id="myModal" data-reveal>blog</a>
                            </li>
                            <li>
                                <a href="index.html#contact">contact</a>
                            </li>
                        </ul>
                    </nav>
                </div> 

                <!--*** temporary modal ***-->
                <div id="myModal" class="reveal-modal tiny" data-reveal>
                  <h2>Blog <i>Coming Soon</i>.</h2>
                  <p class="lead"><i>Please keep an eye out !</i></p>
                  <p><i>Soon to enlighten you all with the Screenlantern way !</i></p>
                  <a class="close-reveal-modal">&#215;</a>
                </div>
                <!--*** ***-->

                <div id="feature_area" class="small-12 large-12 column ">
                    <div id="feature">
                        <ul>
                        <li class="tagline">Attraction thru Screens like Moths to a Lantern</li>
                        
                        <!--<br/><li><a href="#" class="button button-style2">recent work</a></li>-->
                        </ul> 
                    </div>
                </div>

            </div>
        </header><!-- End mainHeader -->
    
        <section class="main" id="about">
            <section class="row">
                <div class="small-12 large-12 column">
                    <h3 class="text-center">About Us</h3>
                    <p class="text-center">Hi welcome to our website. ScreenLantern is more than a company its a solution. We offer a web development service to those in need. If you're a company with the need to outsource frontend or backend web development work we have got you covered!</p>
                </div> 
            </section>  

            <section class="row">

                <div class="small-12 large-6 columns ">
                    <h3>Our Focus</h3>
                    <p>We focus on creating responsive user interfaces with modern functionality, "Basically cool websites". Screenlantern is about quality over quantity so our work model lets us focus soley on you acheiving an overall better outcome.</p>

                </div>
                <div class="small-12 large-6 columns">

                    <ul class="progress-bar">
                        <li>
                            <p>HTML5 / CSS3
                                <em>90%</em>
                            </p>
                            <div class="meter">
                                <span class="one"></span>
                            </div>
                        </li>
                        <li>
                            <p>JAVASCRIPT / NODE.JS
                                <em>75%</em>
                            </p>
                            <div class="meter">
                                <span class="two"></span>
                            </div>
                        </li>
                        <li>
                            <p>PHP / WORDPRESS
                                <em>80%</em>
                            </p>
                            <div class="meter">
                                <span class="three"></span>
                            </div>
                        </li>
                        <li>
                            <p>RAILS
                                <em>70%</em>
                            </p>
                            <div class="meter">
                                <span class="four"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

           <section class="row">
           <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" id="sti-menu">
            <li data-hovercolor="#616161;">  
            <a href="#" class=" info-box "> 
                <span data-type="icon" class="sti-item sti-icon">&#128241;</span>
                <h5 data-type="headtext" class="sti-item">Responsive</h5>
                <p data-type="stext" class="sti-item">All sites &  apps we create are done so with all devices in mind, for a seamless transition between all screen sizes.
                </p> 
            </a>  
            </li>
            <li data-hovercolor="#616161;">
            <a href="#" class=" info-box ">
                <span data-type="icon" class="sti-item sti-icon">&#59156;</span>
                <h5 data-type="headtext" class="sti-item">Development</h5>
                <p data-type="stext" class="sti-item">We do not rely on any one platform. Having a variety of tools in our arsenal lets us pick the best tools for the job.</p>
            </a> 
            </li>
            <li data-hovercolor="#616161;">
            <a href="#" class=" info-box ">
                <span data-type="icon" class="sti-item sti-icon">&#128101;</span>
                <h5 data-type="headtext" class="sti-item">Usability</h5>
                <p data-type="stext" class="sti-item">We focus on creating a harmonious balance between functionality, usability, and cool stuff.</p>
            </a>
             </li>
            <li data-hovercolor="#616161;">
            <a href="#" class=" info-box ">
                <span data-type="icon" class="sti-item sti-icon">&#59190;</span>
                <h5 data-type="headtext" class="sti-item">Outsourcing</h5>
                <p data-type="stext" class="sti-item">Collabrate with us. Are you looking for a freelancer? Go ahead and contact us to discuss your requirements. </p>
            </a>
            </li>
             </ul>
           </section>
        </section><!-- End mainSection -->
        <div class="light_strip"></div>
        <div id="contact" class="map"></div>  
        <footer> 
            <div class="row">
                <div class="small-12 large-12 column ">
                    <section class="getintouch">
                        <h3 class="text-center">Get in Touch</h3>
                        <ul>
                           <!-- <li>
                                <span>&#59172;</span>
                                26 Vantage Park High View Close Leicester, LE4 9LJ  
                            </li>-->
                            <li>
                                <span>&#9993;</span>
                                <%= mail_to 'screenlantern@gmail.com', "screenlantern@gmail.com" %>
                            </li>
                            <li>
                                <span>&#128222;</span>
                                +447964561660
                            </li>
                        </ul>
                        <ul id="social-icons">
                            <li>
                                <a href="https://twitter.com/screenlantern">
                                    <img src="images/twitter.png">
                                </a>
                            </li>
                            <li>
                                <a href="http://uk.linkedin.com/pub/warren-wafiq-baugh/22/b5/15/">
                                    <img src="images/linkedin.png">
                                </a>
                            </li>
                            <li>
                                <a href="skype:wafiqno1?call">
                                    <img src="images/skype.png">
                                </a>
                            </li>
                        </ul>
                    </section>
                    <div id="subFooter">
                        <p>Copyright &copy; &nbsp; Designed by Screen Lantern <span>This site is powered by <%= link_to 'Middleman', 'http://middlemanapp.com/' %> and hosted by <%= link_to 'GitHub Pages', 'http://pages.github.com/' %></span></p>
                    </div>
                </div>
                </div>    
        </footer>